%h1 All Sprints
= render :partial => 'table_filter'
%table#sprints
  %thead
    %tr
      %th #
      %th Name
      %th= sort_link(@q, :start, 'Start', default_order: :desc)
      %th= sort_link(@q, :end, 'End', default_order: :desc)
      %th Parent
      %th Hours
      %th # of Happy Hours
      %th Desc
      %th Remove
  %tbody
    = render :partial => 'sprint', :collection => @sprints
    %tr#sprints_total
      %td today
      %td
      %td
      %td
      %td
      %td#total_hours
      %td#total_happy_hours
      %td
      %td
= link_to 'New Sprint', new_sprint_path
 
-# debug(@Sprints)
-# raise @Sprints.inspect
-# raise params.inspect
